/* HABR */
#header .logo,
.userpanel,
#search_form
{
	display: none;
}

#layout
{
	top: 40px;
}

.rotated_posts
{
	margin-bottom: 45px !important;
}

#footer {
	margin-bottom: 70px !important;
}

.description_with_icon {
	min-height: 70px !important;
}

.logo 
{
	display: none !important;
	position: absolute !important;
	right: 0 !important;
	padding-left:60px !important;
		
	width: 240px !important;
	height: 120px !important;
	background: url("/images/bg-multilogo.png") 30px -127px no-repeat !important;
}

/* PANEL */
	body
	{
		margin: 0;
		height: 100%;
	}
	#topbar
	{
		position: fixed; top: 0px; width: 100%;
		z-index: 1002;
		width: 100%;
		height: 40px;
		background-color: #555d6e;
		color: #d2d3d7;
		text-align: left;
	}
	
	#topbar .fix-size
	{
		max-width: 1200px;		
		min-width: 550px;
		height: 100%;
		padding: 0 30px;
		
		position: relative;
		margin: 0 auto;
		
	}
	
	#topbar .profile
	{
		height: 40px;
		line-height: 40px;
		vertical-align: middle;
	}	
	
	#topbar .profile-active
	{
		background: #424956;
	}	
	
	#topbar a
	{
		text-decoration: none;
		color: #d2d3d7;
		height: 40px;
		display: inline-block;
	}
	
	#topbar a:hover
	{
		color: #fff;
	}
	
	
	#topbar .menuol
	{
		position: absolute;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	#topbar .menuol li
	{
		display: inline-block;
		padding: 0 5px;
		cursor: pointer;
		
		height: 40px;
		line-height: 40px;
		vertical-align: middle;
		
		white-space: nowrap;
		float: left;
		
		color: #d2d3d7;
	}
	#topbar .menuol li:hover
	{
		background: #424956;
	}
	
	
	
	#topbar .pl_count
	{
		display: inline;
		margin-left: 5px;
		padding: 3px;
		background-color: #e84c3d;
		color: #fff;
		border-radius: 3px;
		font-size: 7pt;
	}
	
	#topbar .pl_search_form
	{
		position: absolute;
		right: 5px;
		top: 7px;
	}
	
	#topbar input
	{
		width: 200px;
	}
	
	.pl_topbt
	{
		padding: 12px;
	}
	
	.pl_morebt
	{
		padding-top: -1px;
		padding-left: 7px;
	}
	
	#pl_search
	{
		display: none;
		position: absolute;
		z-index: 1002;
		top: 40px;
		right:0;
		
		background-color: #424956;
		border-top: none;
		
		padding: 10px;
	}
	
	#pl_search_form input
	{
		width: 300px;
	}
	
	#pl_profile
	{
		display: none;
		position: absolute;
		z-index: 1001;
		min-width: 200px;
		top: 40px;
		
		background-color: #F7F7F7;
		border: 2px solid #555d6e;
		border-top: none;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	
	#pl_profile a, #pl_profile a:hover
	{
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 4px;
		padding-bottom: 4px;
		color: #000;
		width: 100%;
		height: 100%;
	}
	
	#pl_profile ol
	{
		/*position: absolute;
		list-style: none;
		margin: 0;
		padding: 0;*/
	}
	
	#pl_profile li
	{
		/*border-bottom: 1px solid #C0C0C0;
		white-space: nowrap;
		float: left;*/
	}
	
	#pl_profile li:hover
	{
		background-color: #f0f0f0;
	}
	
	#pl_a_prof_username
	{
		background-color: #424956;
	}
	
	#pl_a_prof_username :hover
	{
		background-color: rgb(55, 62, 73);
	}
	
	.pl_karma
	{
		color: rgb(157, 255, 163);
		font-size: 12pt;
	}
	
	.pl_rating
	{
		padding-left: 10px;
		color: rgb(255, 170, 77);
		font-size: 12pt;
	}
	
	#pl_ol_msgs
	{
		position: absolute;
		list-style: none;
		margin: 0;
		padding: 0;
		right: 0;
	}
	
	#pl_ol_msgs li
	{
		display: inline-block;
		height: 40px;
		cursor: pointer;
		
		white-space: nowrap;
		float: left;
		
		/*padding: 0;
		line-height: 40px;
		color: #d2d3d7;*/
	}
	#pl_ol_msgs li:hover
	{
		background: #424956;
	}
	
	#pl_bt_msg
	{
		/*display: block;
		position: absolute;
		right: 50px;*/
	}
	
	#pl_bt_search
	{
		/*display: block;
		position: absolute;
		right: 0px;*/
	}
	
	.msg_bts_img
	{
		padding: 12px;
	}
	
	.search_img
	{
		padding: 12px 15px;	
	}
	
	.pl_msg_panel_new
	{
		top: -15px;
		padding-right: 10px;
		position: relative;
		/*position: fixed;
		margin-left: -6px;
		margin-top: -2px;*/
	}
	
	#pl_bt_tracker
	{
		/*display: block;
		position: absolute;
		right: 110px;*/
	}
	
	.vertical_seperator
	{
		margin: 0 5px;
		width: 6px;
		height: 100%;
		background-color: rgba(24, 39, 75, 0.137255);
	}
	
	
	/*.pl_msg_panel_tracker
	{
		position: fixed;
		margin-left: -6px;
		margin-top: -2px;
	}*/